@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* -----------     
Header   
-------------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: rgba(200,200,200, 0.9);
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header .logo{
    color: #fff;
    font-weight: 60px;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

header.sticky .logo{
    color: #111;
}


header .logo span{
    color: green;
} 
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
    font-weight: 700;
    cursor: pointer;
}

header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
} 
header.sticky .navigation li a{
    color: #111;
}
header .navigation li a:hover{
    color: green;
}

/*---------------
Header End
-----------------*/

/*-----------
Social Menu
-----------*/
.social-menu{
    position: fixed;
    top: 48%;
    z-index: 1;
    width: 50px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
}

.social-menu li{
    height: 50px;
    position: relative;
}

.social-menu li a{
    margin-left: 10px;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    padding-left: 20%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    transition: all 0.3s linear;
}

.social-menu li:nth-child(1) a{
    background: #4267B2;
}

.social-menu li:nth-child(2) a{
    background: #e1306c;
}
.social-menu li:nth-child(3) a{
    background: #1da1f2;
}
.social-menu li:nth-child(4) a{
    background: #ff0000;
}

.social-menu li a i{
    position: absolute;
    top: 17px;
    left: 20px;
    font-size: 27px;
}


.social-menu li a span{
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: none;
}
.social-menu a:hover{
    z-index: 10;
    width: 200px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.social-menu ul li a:hover span{
    display: block;
    padding-left: 25%;
}
/* ----------
Banner Section
--------------*/

p{
    font-weight: 300;
    color: #111;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/cover.jpg);
    background-size: cover;
}

.banner .content{
    max-width: 100%;
    text-align: center;
}

.banner .content h2{
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 5em;
    color: #fff;
} 

.banner .content p{
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    color: #C2C0C0;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn{
    font-size: 1em;
    color: #fff;
    background-color: green;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 100px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.2s;
    border-radius: 15px;
    border: 1px solid rgba(#fff,.8);
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
}

.btn:hover{
    letter-spacing: 6px;
    box-shadow: crimson;
}

/* -------------
Section About Us
----------------*/

.row{
    margin-left: 60px;
    margin-top: 60px;
    padding: 20px;
    position: relative;
    width: 95%;
    display: flex;
    justify-content: space-between;

}

.row .col50{
    position: relative;
    width: 45%;
    padding: 10px;

}

.titletext{
    color: #111;
    font-size: 3em;
    font-weight: 300;
    font-weight: 600;
}

.row .col50 .imgbx{
    position: relative;
    width: 100%;
    height: 100%;
}
.row .col50 .imgbx img{
    width: 40%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*---------------
testimonials section
----------------*/


.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonials{
    
    margin-top: 100px;
}

.white .titletext,.white p{
    color: #111;
}
.testimonials .content{
    background: url(../img/background1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.testimonials .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials .content .box .imgbx{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
} 

.testimonials .content .box .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .content .box .text{
    text-align: center;
}

.testimonials .content .box .text p{
    color: #666;
    font-style: italic;
}

.testimonials .content .box .text h3{
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: green;
    font-weight: 600;
}

/* ----------
Contact section
-------------*/
.Contact{
    margin-top: 100px;
    background: url(../img/bg3.jpg);
    background-size: cover;
}
form{
    margin-left: 50px;
    padding: 75px 50px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 500px;
    max-height: 600px;
    margin-top: 50px;
}
form h2{
    margin-bottom: 20px;
    font-size: 2em;
}
form input{ 
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
form .inputbox input{
    max-width: 60px;
}
form textarea{
    width: 100%;
    height: 100px;
}
form button{
    background-color: green;
    max-width: 120px;
    height: 40px;
    font-size: 1em;
    padding: 0px 10px;
    border-radius: 10px;
}
/*form{
    background: url(../img/bg3.jpg);
    margin-left: 50px;
    padding: 75px 50px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 500px;
    max-height: 600px;
    margin-top: 50px;
}
form h2{
    margin-bottom: 20px;
    font-size: 2em;
}
form input{ 
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
form .inputbox input{
    max-width: 60px;
}
    
form textarea{
    width: 100%;
    height: 100px;
}
    
form button{
    max-width: 100px;
    font-size: 1em;
    padding: 0px 10px;
}

/*------
Footer
-------*/
footer{
    width: 100%;
    height: 60px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
}
footer p{
    color: #111;
    text-align: center;
    font-weight: 600;
}